<table>
  <th>Name</th>
  <th>School</th>
  <th>Description</th>

  <tbody>
    <tr>
      <td><%= @spell.name %></td>
      <td><%= @spell.school.name %></td>
      <td><%= @spell.description %></td>
    </tr>
  </tbody>
</table>